
/*body{
	background-color:red;
}*/
/*==============heroimage css=====================================*/
.heroImg{
	padding:70px 0 95px;
}

.navbar ul{
	display:inline-block;
}
.navbar li{
	display:inline-block;
	margin-left:70px;
}
.navbar li a:link, .navbar li a:visited{
	padding:5px 10px;
	color:#000;
	display:inline-block;
	text-transform:uppercase;
}
/*==============photodiary css==================*/

.pri-heading, .leavecomment{
	font-size:14px;
	font-weight:lighter;
	text-transform:uppercase;
	color:#b4ad9e;
	margin-bottom:30px;
    font-family: 'Ubuntu', sans-serif;

}
.sec-heading{
	font-size:30px;
	text-transform:capitalize;
	color:#626262;
	margin-bottom:30px;
}
.para{
	font-size:14px;
	color:#626262;
	margin-bottom:50px;
}
.btn{
	padding:20px 30px;
	cursor:pointer;
	border:1px solid #626262;
	background-color:#fff;
	color:#626262;
	font-size:20px;
	transition:all .3s ease-in-out;
}
.btn:hover, .btn:focus, .btn:active{
	background-color:#626262;
	color:#fff;
}
.thumbimg{
	height:275px;
	margin-bottom:30px;
}
.thumbimg img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.thumbnail .para{
	margin-bottom:0px;
}
.thumbnailsection{
	padding:135px 0 125px;
}
.thumbnailsection2{
	padding:100px 0 65px;
}

/*=================signup section css==================*/

.signup{
	background-color:#f0f0f0;
	padding:70px 0 75px 0;
}
.form-group{
	position:relative;
}
.form-control{
	display:block;
	width:100%;
	height:36px;
	border:0px;
	border-bottom:1px solid black;
	background-color:transparent;
	outline:none;
}
.form-group i{
	position:absolute;
	right:5px;
	top:10px;
	transform:rotate(45deg);
	font-size:26px;
	cursor:pointer;
	background-color:transparent;
	border:0px;
}
/*===================footer section css================*/

.footer{
	background-color:#f0f0f0;
	padding:40px 0;
}
.footerlink, .footerlink li{
	display:inline-block;
}
.footerlink li a{
	color:#000;
}